body {
    margin: 10px;
}

.preferences {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border:pink outset 4px;
    background-color: whitesmoke;
}

.options {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top:5px
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}
.paragraph {
    display: flex;
    justify-content: center;
}

#footer {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    border:pink outset 10px;
    margin-top: -15px;
}